#title{
    width: 1400px;
    text-align: center;
    font-size: 4em;
    margin-bottom: 10px;
    font-weight: bold;
}
#subtitle {
    width: 1400px;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    font-weight: bold;
}
#credit {
    width: 1400px;
    text-align: center;
    font-size: 1.5em;
}


.checkbox {
    position: absolute;
    top: 300px;
}
    #showCase {
        left: 100px;
    }
    #showDeath {
        left: 300px;
    }

.checkbox_text{
    position: absolute;
    top: 285px;
}
    #checkbox_text_case{
        left: 125px;
    }
    #checkbox_text_death{
        left: 325px;
    }


svg{
    position: absolute;
    top: 325px;
}

#conclusion {
    position: absolute;
    top: 1200px;
    width: 1400px;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
}

#conclusion_text {
    position: absolute;
    top: 1450px;
    width: 800px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 1.5em;
}

#demostration {
    position: absolute;
    top: 1650px;
    width: 800px;
    left: 300px;
}

#caption {
    position: absolute;
    top: 2200px;
    width: 1400px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

#final_conclusion{
    position: absolute;
    top: 2300px;
    width: 800px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 1.5em;
}
#final_final_conclusion {
    position: absolute;
    top: 2600px;
    width: 800px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 4em;
}

body {
    height: 3000px;
}

::selection {
    color: red;
    background: yellow;
}