#title{
    width: 1400px;
    text-align: center;
    font-size: 4em;
    margin-bottom: 10px;
    font-weight: bold;
}
#subtitle {
    width: 1400px;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    font-weight: bold;
}
#credit {
    width: 1400px;
    text-align: center;
    font-size: 1.5em;
}


.checkbox {
    position: absolute;
    top: 300px;
    font-family: 'verdana';
}
    #showCase {
        left: 100px;
    }
    #showDeath {
        left: 310px;
    }
    #showCasepercent{
        left: 530px;
    }
    #showDeathpercent{
        left: 690px;
    }

.checkboxcolor{
    z-index: 2;
    position:absolute;
    top: 735px;
    font-family: 'verdana';
}

    #showblue1 {
    left: 600px;
    }
    #showblue2 {
    left: 670px;
    }
    #showred1{
    left: 740px;
    }
    #showred2{
    left: 810px;
    }
    #showrainbow{left:880px;}
.checkboxcolor_text{
    position: absolute;
    top: 717px;
    font-family: 'verdana';
}
    #checkboxcolor_text_blue1{
        left: 620px;
    }
    #checkboxcolor_text_blue2{
        left: 690px;
    }
    #checkboxcolor_text_red1{
        left: 760px;
    }
    #checkboxcolor_text_red2{
        left: 830px;
    }
    #checkboxcolor_text_rainbow{
        left: 900px;
    }

.checkbox_text{
    position: absolute;
    top: 285px;
    font-family: 'verdana';
}
    #checkbox_text_case{
        left: 125px;
    }
    #checkbox_text_death{
        left: 335px;
    }
    #checkbox_text_case_percent{
        left: 555px;
    }
    #checkbox_text_death_percent{
        left: 715px;
    }


svg{
    position: absolute;
    top: 325px;
}

#conclusion {
    position: absolute;
    top: 1200px;
    width: 1400px;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
}

#conclusion_text {
    position: absolute;
    top: 1450px;
    width: 800px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 1.5em;
}

#demostration {
    position: absolute;
    top: 1650px;
    width: 800px;
    left: 300px;
}

#caption {
    position: absolute;
    top: 2200px;
    width: 1400px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

#at_least {
    position: absolute;
    top: 2275px;
    width: 1400px;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

#final_conclusion{
    position: absolute;
    top: 2400px;
    width: 800px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 1.5em;
}
#final_final_conclusion {
    position: absolute;
    top: 2600px;
    width: 800px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 4em;
}

body {
    height: 3000px;
}

::selection {
    color: red;
    background: yellow;
}


@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
@keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
}
  
#scroll-text {
    text-align: right;
  
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}